[user]
	email = p7tryk@gmail.com
	name = Patryk Kaniewski
[color]
	ui = auto
[alias]
	lg = log --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	graph = log --graph --decorate --oneline
[core]
	pager = delta
[delta]
	navigate = true
	light = false
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default